<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.client.myapplication.client">
    <!-- 设置联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 请求相机权限-->
    <uses-permission android:name="android.permission.CAMERA"
    android:required="false" />
    <application
        android:configChanges="orientation|keyboardHidden"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="false"
        tools:ignore="AllowBackup">
        <activity android:name=".camera"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="跟随模式">
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:label="智能跟随云台">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--设置MainActivity为主页面-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>